ci-cd-python-demo/minikube-linux-amd64
ci-cd-python-demo/awscliv2.zip
ci-cd-python-demo/minikube-linux-amd64
ci-cd-python-demo/awscliv2.zip
ci-cd-python-demo/minikube-linux-amd64
ci-cd-python-demo/awscliv2.zip
